body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 10;
    padding: 10px;
}

table {
	border-collapse: collapse;
	border: 1px solid white;
    padding: 6px;
}

th, td {
	padding: 4px;
}