.root {
    -fx-base: black;
    -fx-background: -fx-base;
    -fx-accent: #e6c700;
    -fx-font-size: 10pt;
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-control-inner-background: -fx-base;
}

.text-field, .text-area {
	-fx-control-inner-background: white;
}

.minimize, .tab-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.tab-button:hover, .minimize:hover {
    -fx-background-color: lightgray;
}

.split-pane > .split-pane-divider {  
    -fx-padding: 0 2 0 2;  
} 

#entity-table .table-column {
 	-fx-alignment: CENTER;
}

#entity-table .table-row-cell {
    -fx-cell-size: 60px;
}

#entity-table .table-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color -fx-table-cell-border-color transparent;
    -fx-table-cell-border-color:transparent;
}

#entity-table .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view, .list-view {
    -fx-control-inner-background: #606060;
}

.list-view {
	-fx-background-radius: 2;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab-pane .tab:selected {
	-fx-background-color: #3a3a3a;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
}

.menu-bar {
	-fx-background-color: #101010;
	-fx-base: #101010;
	-fx-border-color: #3a3a3a;
}

.menu {
    -fx-background: black;
}

.menu:hover {
	-fx-background-color: #101010;
	-fx-base: #101010;
}

.menu:hover {
	-fx-background-color: black;
}

.menu-item:focused {
    -fx-background-color: #101010;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-padding: 2;
}

.menu-item:hover {
	-fx-background-color: black;
}

.red {
	-fx-background-color: #F22613;
}

.yellow {
	-fx-background-color: #F7CA18;
}

.blue {
	-fx-background-color: #19B5FE;
}

.green {
	-fx-background-color: #2ECC71;
}

.gray {
	-fx-background-color: #6C7A89;
}

.orange {
	-fx-background-color: #F9690E;
}

.tile-title {
	-fx-text-fill: white;
	-fx-font-size: 18pt;
	-fx-font-weight: bold;
}

.workspace-pane {
	-fx-padding: 15;
}

.toggle-button {
	-fx-background-color: #101010;
}