.root {
    -fx-base: black;
    -fx-background: -fx-base;
    -fx-accent: #e6c700;
    -fx-font-size: 10pt;
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-control-inner-background: -fx-base;
}

.text-field, .text-area {
	-fx-control-inner-background: white;
}

.minimize, .tab-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.tab-button:hover, .minimize:hover {
    -fx-background-color: lightgray;
}

.split-pane > .split-pane-divider {  
    -fx-padding: 0 1 0 1;
    -fx-background-color: #101010;
}

.visible-container {
    -fx-control-inner-background: #606060;
}

.list-view {
	-fx-background-radius: 2;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab-pane .tab:selected {
	-fx-background-color: #3a3a3a;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
}

.menu-bar {
	-fx-background-color: #101010;
	-fx-base: #101010;
	-fx-border-color: #3a3a3a;
}

.menu {
    -fx-background: black;
}

.menu:hover {
	-fx-background-color: #101010;
	-fx-base: #101010;
}

.menu:hover {
	-fx-background-color: black;
}

.menu-item:focused {
    -fx-background-color: #101010;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-padding: 2;
}

.text {
	-fx-fill: white;
}

.menu-item:hover {
	-fx-background-color: black;
}

.red {
	-fx-background-color: #F22613;
}

.yellow {
	-fx-background-color: #F7CA18;
}

.blue {
	-fx-background-color: #19B5FE;
}

.green {
	-fx-background-color: #2ECC71;
}

.gray {
	-fx-background-color: #6C7A89;
}

.orange {
	-fx-background-color: #F9690E;
}

.tile-title {
	-fx-text-fill: white;
	-fx-font-size: 18pt;
	-fx-font-weight: bold;
}

.workspace-pane {
	-fx-padding: 15;
}

.toggle-button {
	-fx-background-color: #101010;
}

.button, .combo-box {
	-fx-background-color: #101010;
	-fx-background-radius: 0;
    -fx-border-radius: 0;
}

.text-input, .text-input:focused { 
	-fx-prompt-text-fill: darkgray;
}

.dialog-pane {
    -fx-background-color: -fx-base;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #101010;
}

.gae-tile {
	-fx-background-color: #101010;
	-fx-padding: 15px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.accordion .titled-pane > *.content {
    -fx-background-color: #101010;
}

.accordion .titled-pane .title {
    -fx-background-color: transparent;
}

.scroll-pane {
	-fx-background: #101010;
}

.scroll-pane .scroll-bar {
	-fx-background: transparent;
}

.bordered {
	-fx-border-color: #101010;
	-fx-background-color: black;
}

.chat-bubble {
  -fx-shape: "M35,0 H0 V30 H16 L20,40 L25,30 H35 z";
-fx-border-color: white;
    -fx-background-insets: 0,1;
    -fx-padding: 20;
}