.root {
    -fx-base: black;
    -fx-background: -fx-base;
    -fx-accent: #e7b300;
    -fx-font-size: 10pt;
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-control-inner-background: -fx-base;
}

.text-field, .text-area {
	-fx-control-inner-background: white;
}

.minimize, .tab-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.tab-button:hover, .minimize:hover {
    -fx-background-color: lightgray;
}

.split-pane > .split-pane-divider {  
    -fx-padding: 0 2 0 2;  
} 

#entity-table .table-column {
 	-fx-alignment: CENTER;
}

#entity-table .table-row-cell {
    -fx-cell-size: 60px;
}

#entity-table .table-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color -fx-table-cell-border-color transparent;
    -fx-table-cell-border-color:transparent;
}

#entity-table .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab-pane .tab:selected {
	-fx-background-color: #3a3a3a;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
}

.menu {
    -fx-background: -fx-base;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: -fx-base;
}

.menu-item:focused .label {
    -fx-text-fill: #3a3a3a;
}