<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Views Package</title>
</head>
<body>
<p>Contains the View hierarchy, the central GUI component in our module.</p>
<p>This hierarchy is headed by View, which all views inherit from in our part of the project. The CollapsibleView is a special instance of View, which, as its name implies, can collapse (in a SplitPane). The ConcreteView is a plain view which extends View as well.</p>
<p>Changes in this package should primarily come in the form of new extensions to the View abstract class.</p>
</body>
</html>