<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Thumbnail Package</title>
</head>
<body>
<p>Contains the implementation of the Thumbnail, a wrapper for an ImageView.</p>
<p>The Thumbnail class, an abstract clas, encapsulates an ImageView and, through its extensions, provides additional functionality: live updating through properties, the optional adding of a border, etc.</p>
<p>There are only two classes extending Thumbnail, but that number could be made greater: the class is fully open for extension and closed for modification.</p>
</body>
</html>